{% load static %}

<link rel="stylesheet" href="{% static 'polls/style.css' %}">

<h1><c>Latest questions</c></h1>
{% if latest_question_list %}
    <ul>
        <b>
            {% for question in latest_question_list %}
            <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
            {% endfor %}
        </b>
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}

<div id="grade1">
    <h1><a href="{% url 'polls:stock' %}">Go to Stonks</h1>
</div>



<iframe allow src="https://www.youtube.com/watch?v=sXQkXXBqj_U" title="youtube" marginwidth=3px marginheight=3px width=640 height=640></iframe> 
