{% load static %}

<link rel="stylesheet" href="{% static 'polls/style.css' %}">

<div class="topnav">
    <a class="active" href="">Home</a>
      <form action="" method="get">
        {% csrf_token %}
        <input type="text" class="search" placeholder="Search...">
        <button type="submit"></button>
      </form>
</div>

<div class="ticker">
    <h1><c>TICKERS</c></h1>
    {% if all_tickers %}
    <ul>
        <b>
            {% for item in all_tickers %}
            <li><a href="{% url 'polls:stockdetails' item.sp500_tickers %}">{{ item.sp500_tickers }}</a></li>
            {% endfor %}
        </b>
    </ul>
</div>
{% else %}
    <p>No tickers available.</p>
{% endif %}
