{% load static %}

<link rel="stylesheet" href="{% static 'polls/style.css' %}">

<div class="topnav">
      <form action="" method="get">
        {% csrf_token %}
        <fieldset class="search">
            <label for="path">Search:</label>
            <input type="text" class="search" placeholder="Search..." value="{{request.GET.title}}">
            <button type="submit"></button>
        </fieldset>
      </form>
</div>

<div class="ticker">
    <h1><a>TICKERS</a></h1>
    {% if all_tickers %}
    <ul>
        <b>
            {% for item in all_tickers %}
            <li><a href="{% url 'polls:test' item.sp500_tickers %}" method="post">{{ item.sp500_tickers }}</a></li>
            {% endfor %}
        </b>
    </ul>
</div>
{% else %}
    <p>No tickers available.</p>
{% endif %}