{% load static %}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'polls/images/stonk.png' %}">
</head>
<body> 
    <h1><a>This is the stonk you are looking for</a></h1>
    <div class="details">
        <ul>
        {% for item in symbols %}
        <p>
                Stock Symbol: {{ item.symbol }}
            <br>Current price: {{ item.stock.price }}
            <br>Current price: {{ item.stock.companyname }}
            <br>Current price: {{ item.stock.last_updated }}
        </p>
        {% endfor %}
        </ul>
    </div>

    <div class="tag">
        <a href="{% url 'polls:stock'%}">Go back</a>
    </div>
</body>
</html>