body {
    /*background-image: url(images/high-res-background.png);*/
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #1b1b5e;
}

#grade1 {
    height: 200px;
    width: 200px;
    background-image: linear-gradient(red, yellow);
}

ul b {
    color: rgba(92, 238, 116, 0.85);
    position: inherit;
}


h1 a{
    color:rgb(128, 120, 245);
    position: relative;
}

.details {
    position: relative;
}

.details p{
    display: inline-block;
    position: relative;
    color: rgb(128, 120, 245);
    font-size: 20px;
    margin: 0px;
    /* You can also add some margins here to make it look prettier */
}

.tag {
    position: relative;
}
.tag a{
    color: rgb(128, 120, 245);
    position: relative;
    font-size: 20px;
}

.tag a:link{
    color: white;
    background-color: transparent;
    text-decoration: none;
}

.tag a:visited {
    color: rgb(101, 67, 255);
    background-color: transparent;
    text-decoration: none;
}

.tag a:hover {
    color: rgba(128, 120, 245, 0.753);
    background-color: transparent;
    text-decoration: underline;
}
  
.tag a:active {
    color: rgb(128, 120, 245);
    background-color: transparent;
    text-decoration: underline;
}

.topnav {
    float: left;
    background-color: #1b1b5e;  
    margin: 0px 0px;
    position: relative;
    border-color: transparent;
  }

.topnav input[type=text] {
    padding: 6px;
    font-size: 17px;
    border-width: 0px;
    background-color: #ccccdd49;
    text-indent: 3%;
    position: inherit;
    float: left;
}

.topnav fieldset {
    border-color: transparent;
    left: 10px;
}

.topnav form {
    border-color: transparent;
}

input::placeholder {
    color:rgb(131, 110, 247);
}

.topnav button {
    float: right;
    padding: 16px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
    background-image: url(images/search.png);
    background-color: #2e2e66;
    background-repeat: no-repeat;
    background-size: 100%;
    position: inherit;
}

.topnav button:hover {
    background: #969ab37c;
    background-image: url(images/search.png);
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 35%;
}

.ticker {
    float: left;
    position: relative;
}

.ticker ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.ticker p {
    font-size: 20px;
    color:#1b325e;
    position: relative;
    margin: 2px;
    padding-left: 2px;
    float: left;
}

.ticker h1.title{
    color:rgb(128, 120, 245);
    position: relative;
}

.ticker a:link{
    color: rgb(128, 120, 245);
    background-color: transparent;
    text-decoration: none;
}

.ticker a:visited {
    color: rgb(128, 120, 245);
    background-color: transparent;
    text-decoration: none;
}

.ticker a:hover {
    color: rgba(128, 120, 245, 0.753);
    background-color: transparent;
    text-decoration: underline;
}
  
.ticker a:active {
    color: rgb(128, 120, 245);
    background-color: transparent;
    text-decoration: underline;
}
